body {
    background-color: black;
    color: white;
}

h1 {
    color: #C69749;
}

h3 {
    color: #C69749;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: white;
    border-width: 4px;
    width: 2%;
}

img {
    height: 220px;
    width: 220px;
}
